.playground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  * {
    pointer-events: all;
  }
}

.images {
  position: absolute;
  top: 0;
  left: 0;
  .flip {
    transform: scaleX(-1);
  }
}

$arch-deg: 20;
$n-arches: 360 / $arch-deg;

@mixin arches {
  @for $index from 0 to $n-arches {
    .c#{$index} {
      animation-name: rotate-c#{$index};
    }
  }
}

@mixin arches-rotations {
  @for $index from 0 to $n-arches {
    @keyframes rotate-c#{$index} {
      0% {
        transform: rotate(0);
      }
      50% {
        transform: rotate($arch-deg * $index * 1deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.secondary-spinner-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 120px;
  width: 120px;

  .secondary-spinner-container{
    animation: rotate-all linear 4s 0s infinite forwards,
      change-color linear 12s 0s infinite forwards;
    height: 100%;
    width: 100%;
    fill: #fe8f00;
  }

  .c {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform-origin: center center;
    transform: rotate(0);
    animation: linear 1.5s 0s infinite forwards;
    fill: inherit;
    .arch {
      display: block;
      width: 100%;
      height: 100%;
      shape-rendering: optimizeSpeed;
      fill: inherit;
    }
  }
  @include arches;
  @include arches-rotations;
}

@keyframes rotate-all {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes change-color {
  0% {
    fill: #fe8f00;
  }
  5% {
    fill: #fdcd01;
  }
  10% {
    fill: #00a490;
  }
  15% {
    fill: #009ce3;
  }
  20% {
    fill: #f20a3c;
  }
  25% {
    fill: #0a94e2;
  }
  30% {
    fill: #029be2;
  }
  35% {
    fill: #c5255b;
  }
  40% {
    fill: #fe8f00;
  }
  45% {
    fill: #fdcd01;
  }
}
